@font-face {
    font-family: 'Brandon';
    src: url(../fonts/Brandon_med.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon light';
    src: url(../fonts/Brandon_light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon blk';
    src: url(../fonts/Brandon_blk.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto light';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Yellowtail';
  src: url(../fonts/Yellowtail-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis regular';
  src: url(../fonts/Dosis-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis light';
  src: url(../fonts/Dosis-Light.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato regular';
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}