<div class="container about">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="about-text">
                <h3>Hi!</h3>
                <p>I am a beginner front-end developer, with experience as intern in <a href="https://www.kleekapp.com/">KLEEK</a>,
                    where my main task was converting PSD projects to HTML and CSS. I have learned a lot useful things from my
                    colleagues in terms of web development as well as working in SCRUM team.</p>
                <p> I started my programming journey by learning Python and making simple programs and scripts and
                    quickly got interested in web development. I think the most appealing thing with web development for
                    me is possibility to create new, better and innovative software considering how fast the web is evolving
                    - things that you can build in a browser right now were impossible to do 10 years ago. Another thing is
                    that you can see effects of your work on instant i.e. I can write something in my IDE and see changes in a browser happening live.
                    Currently I'm looking for new opportunities for developing my skills, preferably as junior front-end developer.</p>

                <h3>My skills</h3>
                <p>I have good knowledge of HTML5 and CSS. I mainly use SASS syntax instead of standard CSS. My experience
                with HTML and CSS comes from converting PSD projects and also from coding my own websites.</p>
                <p>
                    My main focus at the moment is developing my knowledge of Javascript which I know at least enough to make my websites interactive
                    but I'm aware of that there is a lot more to calling yourself "Javascript developer" than applying simple functionalities with jQuery
                    and there is a lot new things to learn before me. Latest front-end framework that got me really interested is AngularJS
                    so I spend lot of my free time learning how to use it and make single page applications. I'm eager to
                    learn new things, and very good with finding solutions to problems that occur during writing code.
                </p>
            </div>
        </div>
    </div>
</div>