<div class="container portfolio">
<div class="row">
    <div class="col-xs-12">
        <h1>My work</h1>
    </div>
</div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img src="./images/metronome.png" alt="" class="project-image">
            <div class="cover">
                <img src="./images/cover.png" alt="" class="cover-image">
                <ul>
                    <li><a href="./portfolio/metronome/index.html" class="btn btn-primary" target="_blank">View</a></li>
                    <li><a href="https://github.com/przemekga/Metronome" class="btn btn-primary" target="_blank">See source</a></li>
                </ul>
            </div>
            <h3>Metronome</h3>
            <h4>JavaScript jQuery</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img src="./images/kleek.jpg" alt="" class="project-image">
            <div class="cover">
                <img src="./images/cover.png" alt="" class="cover-image">
                <ul>
                    <li><a href="./portfolio/kleek/index.html" class="btn btn-primary" target="_blank">View</a></li>
                    <li><a href="https://github.com/przemekga/Kleek" class="btn btn-primary" target="_blank">See source</a></li>
                </ul>
            </div>
            <h3>KLEEK site</h3>
            <h4>HTML5 SASS Bootstrap jQuery</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img src="./images/notify.jpg" alt="" class="project-image">
            <div class="cover">
                <img src="./images/cover.png" alt="" class="cover-image">
                <ul>
                    <li><a href="./portfolio/notify/index.html" class="btn btn-primary" target="_blank">View</a></li>
                    <li><a href="https://github.com/przemekga/Notify" class="btn btn-primary" target="_blank">See source</a></li>
                </ul>
            </div>
            <h3>PSD to HTML conversion</h3>
            <h4>HTML5 CSS jQuery</h4>
        </div>
    </div>
</div>